/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

/* CSS to better visually match Docsify pages within Canvas LMS (uncomment to use) */
/*
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body .markdown-section {
    font-family: "Lato","Helvetica Neue",Arial,sans-serif;
    line-height: 1.4;
    font-size: 16px;
}

.markdown-section a:link, .markdown-section a:visited, .markdown-section a:active {
    text-decoration: none;
}

.markdown-section a:hover {
    text-decoration: underline;
}
*/

/* CSS to better visually match Docsify pages within Sakai LMS (uncomment to use) */
/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body .markdown-section {
    font-family: "Open Sans",sans-serif;
    line-height: 1.3;
    font-size: 14px;
}
*/

.markdown-section a[href="#/?id=a"], .markdown-section a[href="#/?id=b"], .markdown-section a[href="#/?id=c"], .markdown-section a[href="#/?id=d"], .markdown-section a[href="#/?id=e"], .markdown-section a[href="#/?id=f"], .markdown-section a[href="#/?id=g"], .markdown-section a[href="#/?id=h"], .markdown-section a[href="#/?id=i"], .markdown-section a[href="#/?id=j"], .markdown-section a[href="#/?id=k"], .markdown-section a[href="#/?id=l"], .markdown-section a[href="#/?id=m"], .markdown-section a[href="#/?id=n"], .markdown-section a[href="#/?id=o"], .markdown-section a[href="#/?id=p"], .markdown-section a[href="#/?id=q"], .markdown-section a[href="#/?id=r"], .markdown-section a[href="#/?id=s"], .markdown-section a[href="#/?id=t"], .markdown-section a[href="#/?id=u"], .markdown-section a[href="#/?id=v"], .markdown-section a[href="#/?id=w"], .markdown-section a[href="#/?id=x"], .markdown-section a[href="#/?id=y"], .markdown-section a[href="#/?id=z"] {
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
    line-height: 1.2em;
}