/* Dark mode colours for use with light + dark themes */

@media (prefers-color-scheme: dark) {

    #docsifythisurlbuilder {
        background: #224567;
    }

    #docsifythisurlfield{
        background-color: #273338;
        color: white;
    }

    .docsifythisurlbuilderprimarybutton {
        color: black;
        background-color: #4bc3f4;
    }

    .docsifythisurlbuildersecondarybutton {
        color: black;
        background-color: #a2e8fc;
    }

    #docsifythisurlbuilder [type=radio]:checked + img {
        outline: 3px solid #4bc3f4;
        position: relative;
    }

    #docsifythisurlbuildershowhidelink a:link, #docsifythisurlbuildershowhidelink a:visited, #docsifythisurlbuildershowhidelink a:hover, #docsifythisurlbuildershowhidelink a:active {
        color: #4bc3f4;
    }

}

